<div id="filter">
    <ul class="filters">
        <li class="filters__item"><button class="filters__btn js-filter" data-category="all">All</button></li>
        <li class="filters__item"><button class="filters__btn js-filter" data-category="trail">Trail</button></li>
        <li class="filters__item"><button class="filters__btn js-filter" data-category="track">Track</button></li>
        <li class="filters__item"><button class="filters__btn js-filter" data-category="ultra">Ultra</button></li>
        <li class="filters__item"><button class="filters__btn js-filter" data-category="road">Road</button></li>
        <li class="filters__item"><button class="filters__btn js-filter" data-category="subultra">Sub ultra</button></li>
        <li class="filters__item"><button class="filters__btn js-filter" data-category="science">Science</button></li>
        <li class="filters__item"><button class="filters__btn js-filter" data-category="business">Business</button></li>
    </ul>
</div>